.navItem {
  margin-right: 8px;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  filter: brightness(0.8);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.disabledLink {
  cursor: not-allowed;
}
